$main-font: Verdana, Geneva, Tahoma, sans-serif;
$main-font-size: 16px;

$background: rgb(193, 193, 196);
$quiz-background: rgb(234, 233, 235);
$color: rgb(41, 41, 41);
$correct-answer: rgb(36, 116, 36);
$wrong-answer: rgb(128, 17, 17);